*.vscode*
*.DS_Store*
*__pycache__*
*.csv
*.json
*.jsonl

commands.txt

DTG-SI/e2e_data/*
DTG-SI/e2e_dtg_si/*
DTG-SI/bert/e2e_preparation/*
DTG-SI/texar/*

google-language/language/totto/temp/*

transformers/examples/*/test_data/*
transformers/examples/*/exp/*

prototype-retrieval/indexes/*
